.footer {
  background: $footer-bg;
  .container {
    max-width: 124rem;
    padding-top: 20rem;

    @include breakpoint(small) {
      padding-top: 34.9rem;
    }
  }

  &__grid {
    display: grid;
    gap: 3.5rem;
    grid-template-columns: 3fr 2fr 2fr 2fr auto;
    grid-template-rows: 60px 1fr;
    grid-template-areas: "logo logo logo logo logo" "address contact terms conditions social";

    @include breakpoint(small) {
      grid-row-gap: 35px;
      grid-column-gap: 0px;
      grid-template-columns: 1fr;
      grid-template-areas: "logo" "address" "contact" "terms" "conditions" "social";
    }
  }

  &__logo {
    grid-area: logo;
  }

  &__address {
    grid-area: address;
    display: flex;

    svg {
      flex: 0 0 13px;
      margin-top: 3px;
      margin-right: 20px;
      @include breakpoint(small) {
        margin-top: 1rem;
      }
    }

    p {
      font-size: 1.3rem;
      @include breakpoint(small) {
        font-size: 2rem;
      }
    }
  }

  ul li {
    line-height: 3;
  }

  &__contact,
  &__terms,
  &__conditions {
    justify-self: right;
    @include breakpoint(small) {
      justify-self: start;
    }
  }

  &__contact {
    grid-area: contact;

    svg {
      margin-right: 2rem;
    }
  }

  &__terms {
    grid-area: terms;
  }

  &__conditions {
    grid-area: conditions;
  }

  &__social {
    display: flex;
    grid-area: social;

    @include breakpoint(small) {
      justify-self: center;
    }

    li  {
      padding-right: 1rem;

      svg {
        width: 35px;
        height: 35px;
        border: 1px solid #ffffff;
        border-radius: 50%;
        padding: 8px;
        fill: #ffffff;
        margin-right: 16px;
        transition: all 0.5s ease;

        &:hover {
          background-color: rgba(255, 255, 255, 0.8);
          fill: $main-bg;
        }
      }
    }
  }

  .attribution {
    font-size: 1.1rem;
    text-align: center;
    padding-bottom: 5rem;
  }
  .attribution a {
    color: #3e52a3;
  }
}
