@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $font-body;
  background: $intro-bg;
  color: $white;
  font-size: 14px;
  line-height: 1.5;
}

a {
  color: $white;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
  padding: 7.3rem 6rem 8.7rem 6rem;
  overflow: hidden;

  @include breakpoint(small) {
    padding: 25px 20px 100px 20px;
  }
}

h1,
h2 {
  font-family: $font-title;
}

.btn {
  display: inline-block;
  background: linear-gradient(to right, $blue, 100%, $cyan);
  padding: 1.5rem 7.5rem;
  border-radius: 5rem;
  cursor: pointer;
  transition: all 0.2s ease-in;

  @include breakpoint(small) {
    width: 100%;
  }

  &:hover {
    transform: translateY(-0.5rem);
  }
}
