// Header
.main-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  // 7.9rem left, 7.2rem top, 7.2rem bottom
  padding: 7.2rem 8rem;
  img {
    width: 8.5rem;

    @include breakpoint(medium) {
      // width
    }

    @include breakpoint(large) {
      width: 18.5rem;
    }
  }

  .menu {
    display: flex;
    li a {
      padding: 0 5rem;
    }
  }
}
