.productivity {
  background: $main-bg;

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
    justify-items: center;
    align-items: center;
    gap: 5rem;
  }

  &__img {
    max-width: 61.5rem;
    text-align: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-self: start;
    align-items: start;

    h2 {
      font-size: 4.6rem;
      max-width: 40rem;
    }

    p {
      font-size: 1.8rem;
      padding: 2rem 0;
    }

    .cta {
      color: $cyan;
      padding-bottom: 0.3rem;
      border-bottom: 1px solid $cyan;
      background-image: url("/images/icon-arrow.svg");
      background-repeat: no-repeat;
      background-position: right center;
      padding-right: 2.5rem;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: $white;
        border-bottom: 1px solid $white;
        transform: translateY(-0.5rem);
      }
    }
  }
}
