// FONTS
$font-title: "Raleway", sans-serif;
$font-body: "Open Sans", sans-serif;

// COLOURS

// Primary
$intro-bg: #1c2431;
$main-bg: #181f2c;
$footer-bg: #0b1523;
$testimonials-bg: #202a3c;

// Accent
$cyan: #65e2d9;
$blue: #339ecc;

// Neutral
$white: #ffffff;

// Breakpoints
$breakpoints: (
  // Phones
    small: 37.5rem,
  // Tablet
    medium: 76.8rem,

);

@mixin breakpoint($size) {
  $breakpoint-value: map-get($breakpoints, $size);

  @media screen and (max-width: $breakpoint-value) {
    @content;
  }
}
