// FONTS
$font-title: 'Raleway', sans-serif;
$font-body: 'Open Sans', sans-serif;

// COLOURS

// Primary 
$intro-bg: #1c2431;
$main-bg: #181F2C;
$footer-bg: #0b1523;
$testimonials-bg: #202a3c;

// Accent
$cyan: #65e2d9;
$blue: #339ecc;

// Neutral
$white: #ffffff;